@model ArtCourseCenter.Models.Course

@{
    ViewData["Title"] = "UpdateCourse";
}

<h1>Update Course</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quota" class="control-label"></label>
                <input asp-for="Quota" class="form-control" />
                <span asp-validation-for="Quota" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">Availability
                    <input class="form-check-input" asp-for="IsAvailable" /> 
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InstructorId" class="control-label">Instructor Id</label>
                <input asp-for="InstructorId" class="form-control" />
                <span asp-validation-for="InstructorId" class="text-danger"></span>
            </div>
            <div style="display:flex">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-primary" href="../GetAllCourses"><img src="/css/Images/return.png" height="30" width="30" /> Back to List</a>
            </div>

        </form>
    </div>
</div>

@{
    try
    {
        if (ViewBag.msg != null)
        {
            <label>@ViewBag.msg</label>
        }
    }
    catch
    {

    }
}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
