@model ArtCourseCenter.Models.Instructor

@{
    ViewData["Title"] = "UpdateInstructor";
}

<h1>Update Instructor</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateInstructor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label">Course Name</label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TRIdentityNumber" class="control-label">Tr Identity Number</label>
                <input asp-for="TRIdentityNumber" class="form-control" />
                <span asp-validation-for="TRIdentityNumber" class="text-danger"></span>
            </div>
            <div style="display:flex">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-primary" href="../GetAllInstructors"><img src="/css/Images/return.png" height="30" width="30" /> Back to List</a>
            </div>
        </form>
    </div>
</div>

@{
    try
    {
        if (ViewBag.msg != null)
        {
            <label>@ViewBag.msg</label>
        }
    }
    catch
    {

    }
}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
